h1{
    text-align: center;
}

body, form{
    font-family: 'Times New Roman', Times, serif;
}

form{
    font-size: 20px;
}

table{
     text-align: center;
    /* align-self: center;  */
}

.image2{
    height: 150px;
    width: 150px;
}

td, input{
    font-weight: bold;
}

.btn{
    width: 300px;
}

.italy{
    border-top: 1px solid #000;
}